<% provide(:title, @user.name) %>
<div class="hero-unit">
	<div class="center">
		<h3><%= @user.name %></h3>
		<h4><%= @user.email %></h4>
	</div>
</div>
<div>
	<% if @user.posts.any? %>
	  <h3>Posts (<%= @user.posts.count %>)</h3>
	  <ol class="posts">
	    <%= render @posts %>
	  </ol>
	<% end %>
</div>

