<% provide(:title, "Posts") %>
<div>
	<% if @posts.any? %>
	  <section>
	  <%= will_paginate @posts %>  
	  	<% @posts.each do |post|%>
	      	<article><%= image_tag post.thumbnail.url(:thumb) %>
				<!--Published on <%= I18n.l post.created_at.in_time_zone('Paris'), :format => '%A, %B %d %Y at %H:%M'%>.-->
				<% raw(post.content) %>
			</article>
		<% end %>
	  <%= will_paginate @posts %>
	  </section>
	<% else %>
	<strong>There are no post yet.</strong>
	<% end %>
</div>

