<% provide(:title, "About us") %>
<div class="center hero-unit">
	<h3>About us</h3>
	<p>
		<%= link_to 'Edit', edit_admin_aboutu_path(@aboutus) %>
	</p>
</div>
<div>
	<%= raw(@aboutus.content) %>
</div>