/* --------------------------------------------------------------------
   Global Front
-------------------------------------------------------------------- */

@mixin post-hover {
  position: absolute;
  z-index: 1;
  width: 320px;
  height: 160px;
  text-align: center;
}
html {
  overflow: auto;
}
body.root {
  background: black;
  p {
    text-align: justify;
  }
  article {
    float: left;
    width: 320px;
    height: 320px;
  }
  article.about-us {
    text-align: center;
    background : white;
    display: table;
    height: 320px;
    overflow: hidden;
    #position: relative;
    .hover-move {
      position: relative;
      top: 0px;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
    a:hover .hover-move {
      top: 3px;
    }
    img {
      display: block;
      margin: auto;
    }
  }
  article.post-item {
    overflow: hidden;
    position: relative;
    color: white;
    .post-thumb{position: relative;}
    
    .post-hover-top {
      @include post-hover;
      top: -160px;
      background: url('post-hover-top.png') no-repeat;
      .post-space {
        height: 80%;
      }
    }

    /* 1er */
    .post-hover-bottom {
      @include post-hover;
      bottom: -160px;
      background: url('post-hover-bottom.png') no-repeat;
      .post-space {
        height: 10%;
      }
      .post-title {
        display: block;
        height: 70%;
      }
      .post-author {
        display: block;
       width: 95%;
        text-align: right;
      }
    }
  }
  /* end article*/
 .modal {
   width: 700px;
   margin-left: -350px;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
    .modal-header {
      border: none;
      background: url('modal-header.png') no-repeat bottom center;
      h3 {
        text-align: center
      }
      .close {
        float: left;
      }
    }
    .modal-body {
      vertical-align: top;
      padding: 10px 50px 10px 50px;
      max-height: 1500px;
      .scroll-pane {
        outline: none;
        width: 100%;
        min-height: 100px;
        height: 100%;
        max-height: 1000px;
        overflow: auto;
        padding-right: 40px;
      }
      .small-thumb {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    .modal-footer {
      background-color: white;
      border: none;
      padding: 10px 16px;
      border-radius: none !important;
      -moz-border-radius: none !important;
      -webkit-border-radius: none !important;
      
      .tags {
        font-family: 'futurateeligconregular','Trebuchet MS'; 
        font-size: 1.25em;
      }
    }
  } 
    
  footer {
    color : #f2f2f2;
    a {
      color: white;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
    a:hover {
      color: black;
      background-color: white;
      text-decoration: none;
    }
  }
}

