/* --------------------------------------------------------------------
   Global Front
-------------------------------------------------------------------- */
@mixin post-hover {
  position: absolute;
  z-index: 1;
  width: 320px;
  height: 160px;
  text-align: center;
}
html {
  overflow: auto;
}
body.root {
  background: black;
  p {
    text-align: justify;
  }
  article {
    float: left;
  }
  article.post-item {
    overflow: hidden;
    position: relative;
    color: white;
    .post-thumb{position: relative;}
    
    .post-hover-top {
      @include post-hover;
      top: -160px;
      background: url('post-hover-top.png') no-repeat;
      .post-space {
        height: 80%;
      }
    }

    /* 1er */
    .post-hover-bottom {
      @include post-hover;
      bottom: -160px;
      background: url('post-hover-bottom.png') no-repeat;
      .post-space {
        height: 10%;
      }
      .post-title {
        display: block;
        height: 70%;
      }
      .post-author {
        display: block;
       width: 95%;
        text-align: right;
      }
    }
  }
  /* end article*/
 .modal {
   width: 700px;
   margin-left: -350px;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
    .modal-header {
      border: none;
      background: url('modal-header.png') no-repeat bottom center;
      h3 {
        text-align: center
      }
      .close {
        float: left;
      }
    }
    .modal-body {
      vertical-align: top;
      padding: 10px 50px 10px 50px;
      .scroll-pane {
        outline: none;
        width: 100%;
        height: 350px;
        overflow: auto;
        padding-right: 40px;
      }
      .small-thumb {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    .modal-footer {
      background-color: white;
      border: none;
      padding: 10px 16px;
    }
  } 
    
  footer {
    color : #f2f2f2;
    a {
      color: white;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
    a:hover {
      color: black;
      background-color: white;
      text-decoration: none;
    }
  }
}

